
.container {
  max-width: 100%;
  background: #610fe6;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 568px) {
  .container {
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(97,15,230,1) 33%);
  }
}

.main {
  max-width: 100%;
  width: 100%;
  padding: 5rem 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main img {
  max-width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eaeaea;
  padding: 0.25rem;
  background: white;
  color: #610fe6;
}


.hero {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.logo {
  height: 3rem;
  margin-right: 0.5rem;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #610fe6;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1.25rem;
}

.subtitle {
  margin: 0;
  line-height: 1.15;
  font-size: 1.25rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.feature {
  max-width: 100%;
  max-height: 768px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 960px;
  margin-top: 3rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cta {
  max-width: 100%;
  margin: 1rem;
  flex-basis: 40%;
  padding: 0.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta img {
  width: 100%;
}


.cta:hover,
.cta:focus,
.cta:active {
  color: #610fe6;
  border-color: #610fe6;
}


.cta h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}


.card {
  margin: 1rem;
  flex-basis: 40%;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 320px;
  max-width: 100%;
}

.card:hover,
.card:focus,
.card:active {
  color: #610fe6;
  border-color: #610fe6;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card img {
  width: 450px;
}